<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Clubhouse</title>
    </head>
    <body>
        <h1>Welcome to the Clubhouse!</h1>

        <% if (user) { %>
        <p>Logged in as <%= user.username %></p>
        <p>
            Membership Status: <%= user.membership ? "Member" : "Not a Member"
            %>
        </p>
        <a href="/messages/new">Create a New Message</a>

        <p><a href="/membership">Join the Club</a></p>
        <a href="/logout">Logout</a>
        <% } else { %>
        <p>You are not logged in.</p>
        <p><a href="/login">Login</a> | <a href="/signup">Sign Up</a></p>
        <% } %>

        <h2>Messages</h2>
        <ul>
            <% messages.forEach(msg => { %>
            <li>
                <h3><%= msg.title %></h3>
                <p><%= msg.text %></p>
                <% if (user) { %>
                <p>
                    <strong>By:</strong> <%= msg.first_name %> <%= msg.last_name
                    %>
                </p>
                <p>
                    <strong>Posted on:</strong> <%= new
                    Date(msg.created_at).toLocaleString() %>
                </p>
                <% } %>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
